{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title">Website Peminjaman Buku Pustaka IMT "Signum" ITB</a></h2>
    <br>
    <p style="text-indent : 1.5em; text-align:justify;">Website IMT Pustaka merupakan website yang berfungsi untuk
      pendataan serta peminjaman buku milik IMT "Signum" ITB.
      Setiap mahasiswa Teknik Telekomunikasi diharuskan membuat akun terlebih dahulu sebelum bisa meminjam buku.
      Melalui website ini, diharapkan akan terjadi catatan peminjaman buku yang jelas dari IMT Pustaka serta dapat
      meningkatkan
      minat baca dari anggota IMT "Signum" ITB dengan kemudahan yang diberikan dari digitalisasi IMT Pustaka.
    </p>
    <br>
    <strong>Cara Peminjaman Buku :</strong>
    <li>Registrasi akun menggunakan NIM</li>
    <li>Login</li>
    <li>Scan barcode buku</li>
    <li>Masukan password untuk meminjam</li>
    <br>
    <strong>Cara Pengembalian Buku :</strong>
    <li>Klik Tombol My Books</li>
    <li>Pilih buku yang akan dikembalikan</li>
    <li>Pastikan buku telah ditaruh di rak buku</li>
    <li>Centang konfirmasi dan tekan kembalikan</li>
    <br>
    <br>
    <font color="black">
      <strong>Dibuat oleh Kelompok LTKA-eru</strong>
      <li>Anneke Yolanda (18116003)</li>
      <li>Radifa Akbar Abhesa (18116007)</li>
      <li>Aidil Firmansyah Putra (18116022) </li>
      <li>Nadia Saraswati (18116027)</li>
      Sebagai Tugas Besar Mata Kuliah Layanan Tersambung Komputasi Awan (ET3010)
      <br>Dosen Pembimbing: Dr.Ing. Eueung Mulyana ST,M.Sc.
    </font>

  </div>

</article>
{% endblock content %}