{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title">Game Info</a></h2>
    <br>
    <p style="text-indent : 1.5em; text-align:justify;">Website Game Info ini bertujuan untuk menunjukkan data
      penjualan dari video game berdasarkan wilayah penjualannya.
      Fitur yang tersedia berupa sorting, searching, dan filtering berdasarkan platform dan genre video game.
      Region sales bertujuan untuk menampilkan data penjualan keseluruhan dan menunjukkan trend platform, genre, 
      dan publisher yang paling populer pada wilayah tertentu.
    </p>
    <br>
    <font color="black">
      <strong>Dibuat oleh</strong>
      <p></p>
      Radifa Akbar Abhesa (23220014)
      <p></p>
      Sebagai Tugas Besar Mata Kuliah Komputasi Bergerak dan Teknologi Web (EL6240)
      <br>Dosen Pembimbing: Dr.Ing. Eueung Mulyana ST,M.Sc.
    </font>

  </div>

</article>
{% endblock content %}
